*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

:root{
   --gray:background-color: rgb(144, 142, 142);
}

.container{
    display: grid;
    grid-template-columns: 200px 1fr 1fr 1fr;
    grid-template-rows: .2fr 3fr;
    grid-template-areas: "sidebar header header header" "sidebar main main main";
    height: 100vh;
    /* gap: 10px; */
}

/* Header */
header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 10px;
}

.header{
    background-color: wihte;
    grid-area: header;
    box-shadow: 0 8px 12px -4px rgba(0,0,0,0.2);
}

.search_i{
    display: flex;
    align-items: center;
}

input[type="search"]{
   padding: 5px 25px;
   border-radius: 10px;
   width: 300px;
   border: none;
   outline: none;
   height: 30px;
}

.search_i i{
    position: absolute;
    margin-left: 5px;
}

input[type="datetime-local"]{
    border: none;
    outline: none;
}

/* sidebar */
.sidebar{
    background-color: #f0f2f4;
    grid-area: sidebar;
}

.logo{
    display: flex;
}

nav{
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    /* background-color: white; */
    height: 100%;
    width: 200px;
     overflow: hidden;
     transition: width 0.2s linear;
    /* box-shadow: 0 20px 35px rgba(0, 0, 0, 0.1); */
}

.logo{
    text-align: center;
    text-transform: uppercase;
}

.logo h1{
    margin-top: 8px;
    padding-left: 15px;
}

a{
    position: relative;
    color: #a5a6a9;
    font-size: 14px;
    display: table;
    width: 300px;
    margin-top: 10px;
    padding: 5px;
    text-decoration: none;
}

.bxs{
    position: relative;
    width: 70px;
    height: 40px;
    top: 14px;
    font-size: 20px;
    text-align: center;
    color: black;
}

.nav-item{
    position: relative;
    top: 12px;
    margin-left: 5px;
}

a:hover{
    background-color: #091227;
    color: #fff;
}

.tab:hover i {
    color: #fff !important;
}


li{
    padding: 10px 0;
    cursor: pointer;
}

.log{
    position: absolute;
    bottom: 0;
}


/* main */
.main{
    /* background-color: yellow; */
    grid-area: main;
}


aside nav .tabs .tab.is-active a {
    font-family: 'Poppins',sans-serif;
    opacity: 1;
    font-weight: 600;
}

aside nav .tabs .tab.is-active, li[data-switcher] {
    color: #fff;
}

.pages {
    width: 80vw;
    margin: 2em;
    min-height: 100vh;
    background-color: red;
}

.pages .page {
    display: none;
}

.pages .page.is-active {
    display: block;
}